/* Write your CSS here */
.container {
  background-color: #f8fafc;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-container {
  background-image: linear-gradient(#303150, #b5b9ff);
  height: 50vh;
  width: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
